<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="./style.css">
    <title>Filteren Matching Application</title>
</head>

<body>

    <section class="matchen-page">
        <%- include('./partials/nav.ejs'); %> 

        <h1>Zoek jouw perfecte match!</h1>

        <% getUsers.forEach(user => { %>        

        <div class="match-card-container">

            <div class="match-card">
                <div class="image-container">
                    <img src="<%= user.image %>" alt="user profile photo"></img>
                </div>

                <div class="profile-metadata">
                    <h2><%= user.name %></h2>
                    <p><%= user.location %>, <%= user.age %></p>
                    <p>Bio:</p> <p> <%= user.bio %></p>
                    <p>Genres:</p> <p> <%= user.favgenres %></p>
                    <p>Festivals:</p> <p> <%= user.favfestivals %></p>
                </div>
            </div>
           <form action="/matchen/match" method="post" class="button-container">
                <button class="dislike-button" type="submit" value="<%= user.id %>" name="matchButtonDislike" >
                    <img src="/images/close.png" alt="dislike button" />
                </button>
                <button class="like-button" type="submit" value="<%= user.id %>" name="matchButtonLike">
                    <img src="/images/heart.png" alt="like"/>
                    
                </button>
            </form>
        </div>
        <% }) %>
        
    </section>

</body>